*{  
    margin: 0;
    padding: 0;

}

header {
background-color: rgb(114, 159, 199);
color: rgb(20, 20, 20);
display: flex;
justify-content: space-around;
padding: 24px 0
}

.cabeçalho-imagem{
width: 20%;
}

.cabecalho-lista-item{
    display: inline-block;
}